/***************/
/* Base Styles */
/***************/

:root {
  --svg-color: #00000000;
  --hero-gold-color: rgba(100, 94, 44, 0.5);
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* scroll-snap-type: y none; */
  overflow-x: clip;
  /* transition: all 0.1s ease-out; */
}

body {
  min-height: 100svh;
  max-width: 100svw;
  cursor: none;
  overflow-x: clip;

  animation: welcome 0.4s ease-out;
  -webkit-animation: welcome 0.4s ease-out;
  -moz-animation: welcome 0.4s ease-out;
}

section {
  min-height: 100svh;
  /* scroll-snap-align: start; */
  /* scroll-margin-top: 150px; */
}

footer > section {
  min-height: 0;
  /* scroll-snap-align: end; */
  /* scroll-margin-bottom: 75px; */
}

a {
  cursor: none;
}

input[type="checkbox"] {
  cursor: none;
}

/**********/
/* Header */
/**********/

.nav-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: var(--pico-contrast-inverse);
  --nav-bar-gradient: 180deg, var(--pico-contrast-inverse) 0%, color-mix(in srgb, var(--pico-contrast-inverse) 75%, transparent) 50%, transparent 100%;
  background: -moz-linear-gradient(var(--nav-bar-gradient));
  background: -webkit-linear-gradient(var(--nav-bar-gradient));
  background: linear-gradient(var(--nav-bar-gradient));
}

div.settings-dropdown {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  background: var(--pico-contrast-inverse);
  --settings-dropdown-gradient: 180deg, var(--pico-contrast-inverse) 0%, color-mix(in srgb, var(--pico-contrast-inverse) 20%, transparent) 50%,
    transparent 100%;
  background: -moz-linear-gradient(var(--settings-dropdown-gradient));
  background: -webkit-linear-gradient(var(--settings-dropdown-gradient));
  background: linear-gradient(var(--settings-dropdown-gradient));
  box-shadow: var(--pico-box-shadow);
  max-width: 500px;
  max-height: 400px;
  padding: 20px;
  border: 1px solid var(--pico-dropdown-border-color);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

div.settings-dropdown.show {
  display: block;
}

/********/
/* Hero */
/********/

.hero-text {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.hero-text h1 {
  margin-top: 25px;
  padding-top: 10px;
  font-size: 4rem;
  font-weight: 700;
  /* background-color: #333333; */
  background-image: linear-gradient(132deg, var(--hero-gold-color) 0%, var(--pico-contrast) 35%, var(--pico-contrast-hover) 100%);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-text h2 {
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
}

/*************/
/* Education */
/*************/

div.educations {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}

article.card-full {
  width: 90vw;
  height: 60vh;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

article.card-full.card-past {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

article.card-full.card-now {
  background-color: var(--pico-primary-background);
}

article.card-full h1 {
  font-size: 5rem;
  margin-bottom: 0;
}

article.card-full p {
  font-size: 2rem;
}

article.card-full span {
  margin-top: 3rem;
  font-size: 1rem;
}

/**********/
/* Cursor */
/**********/

.cursor-dot {
  width: 5px;
  height: 5px;
  /* background-color: var(--pico-contrast); */
}

.cursor-outline {
  width: 30px;
  height: 30px;
  /* border: 2px solid #ffffff80; */
  border: 2px solid color-mix(in srgb, var(--pico-contrast-hover-background), transparent 30%);
  /* background-color: #ffffff60; */
  background-color: color-mix(in srgb, var(--pico-contrast-hover-background), transparent 50%);
  /* transition: all 0.5s ease; */
  transition: transform 0.1s ease-out;
  transition-property: background-color, width, height, transform, opacity, border, border-color;
  transition-duration: 0.05s;
  transition-timing-function: ease-out;
  mix-blend-mode: soft-light;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: -100px;
  left: -100px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 100;
  transform-origin: center center;
  pointer-events: none;
}

.cursor-outline.cursor-grow,
.cursor-outline.grow-small {
  transform: scale(5);
  background-color: var(--pico-contrast-hover);
  border: none;
}

.cursor-outline.grow-small {
  transform: scale(2.5);
}

.cursor-outline.cursor-glow {
  background-color: transparent;
  border: none;
}

.cursor-outline.cursor-wrap {
  background-color: transparent;
  border: none;
  color: var(--pico-contrast-hover);
}

.cursor-outline.cursor-text,
.cursor-outline.cursor-text-small {
  border-radius: 0px;
  height: 50px;
  width: 20px;
  background-color: var(--pico-contrast-hover);
  border: none;
  mix-blend-mode: exclusion;
}

.cursor-outline.cursor-text-small {
  height: 30px;
  width: 10px;
}

/***************/
/* animate.css */
/***************/

/*************/
/* Utilities */
/*************/

.text-glow {
  color: var(--pico-contrast-hover);
}

.text-center {
  text-align: center;
}

.text-muted {
  color: var(--pico-muted-color) !important;
}

.text-extra-muted {
  color: var(--pico-color-zinc-800) !important;
}

.text-game {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

/* Things which react to cursor */

.link-cursor {
  cursor: none;
  transition: all 0.2s ease;
}

.button-cursor {
  cursor: none;
  transition: all 0.2s ease;
}

.text-cursor {
  cursor: none;
  transition: all 0.2s ease;
}

/*************/
/* Keyframes */
/*************/

@keyframes welcome {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
